@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
header{
    margin-top: -10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    transition: 0.6s;
    padding: 0px 100px;
    z-index: 100000;
    text-transform: uppercase;
    font-family: 'Poppins',sans-serif;
    border-bottom: 2.0px solid darkgreen;
    background-color:white;
    height: 15vh;
    width: 100%;
    padding: 0 100px;
    z-index: 1;
    text-align: center;
}
header .logo img
{
    width: 300px;
    height: 100px;
    margin-left: -100px;
    margin-top: 20px;
    margin-right: 400px;
    margin-bottom: 30px;
}
li{
    list-style: none;
}
a{
    font-size: 16px;
    color:black;
    text-decoration: none;
}
.navbar{
    min-height: 70px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 40px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.nav-link{
    padding-left: 40px;
    transition: 0.7s ease;

}
.nav-link:hover{
    color: #4CBB17;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 40px;
    height: 6px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
@media(max-width:768px){
    header{
        background-color: #4CBB17;
    }
    header .logo img{
        width: 175px;
        height: 90px;
        margin-left: -5rem;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .hamburger{
        display: block;
        float: right;
        margin-right: 10px;
        padding-right: 10px;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 120px;
        gap: 0;
        flex-direction: column;
        background-color:#4CBB17;
        width: 100%;
        height: 50%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-link{
        margin-top: 100px;
        font-size: 40px;
        text-transform: uppercase;
        font-family: 'Popins',sans-serif;
    }
    nav ul li{
        margin-top: 40px;
    }
    a{
        color: white;
    }

    .nav-item{
        margin-top: 200px;
        margin:30px 0;
    }

    .nav-menu.active{
        left: 0;
    }
}
.h1{
    padding-top: 200px;
    font-size: 100px;
    color: #90EE90;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom: 50px;
}
.span1{
    color: orange;
}
.span2{
    color: #32CD32;
}
/* header media */

.section{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}
.section2{
    display: none;
}
.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.content-section{
    float: left;
    width: 55%;
}
.image-section{
    float: right;
    width: 40%;
}
.image-section img{
    width: 100%;
    height: auto;
}
.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
    color: black;
}
.content-section .content h3{
    margin-top: 20px;
    color: rgb(28, 28, 28);
    font-size: 21px;
}
.content-section .content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 17px;
    line-height: 1.5;
    color: #3d3d3d;
}
.empty{
    opacity: 1;
    width: 100%;
    height:1px;
    background-color: #4CBB17;
    margin-top: 3.5rem;
}
/* footer */
.footer{
    margin-top: 100vh;
    background-color: #24262b;
    width: 100%;
    height: 30vh;
}
.row1{
    font-size: 20px;
    margin-left: 43%;
    display: flex;
}
.row2{
    font-size: 20px;
    margin-left: 32%;
    display: flex;
    margin-bottom: 10px;
}
.row2 h4,.row3 h4{
    font-size: 20px;
    margin-left: 5px;
    color:  #bbb;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins',sans-serif;
}
.row2 .h4{
    color: white;
    font-family: 'Poppins',sans-serif;
    text-transform: lowercase;
}
.row2 h4 i{
    color: orange;
    margin-left: 5px;
    margin-right: 5px;
}
.row2 a{
    color: white;
    text-decoration: none;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 10px;
    margin-top: 0px;
}
.row2 a:hover{
    color: orange;
}
.row1 a{
 color: orange;
 margin-top: -20px;
 margin-left: -30px;
 margin-right: 100px;
 margin-bottom: 50px;
 font-size: 18px;
}
.row1 a:hover{
    color: #fff;
}
.row4{
    margin-left: 18%;
    color: #bbb;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    margin-top: 10px;
}
.phone{
    color: orange;
    margin-right: 10px;
}
/* @media(max-width:1600px){
    .footer{
        margin-top: 100vh;
        background-color: #24262b;
        width: 100%;
        height: 30vh;
    }
    .row2{
        font-size: 20px;
        margin-left: 28%;
        display: flex;
        margin-bottom: 10px;
    }
    .row2 h4,.row3 h4{
        font-size: 20px;
        margin-left: 5px;
        color:  #bbb;
        font-weight: 100;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Poppins',sans-serif;
    }
    .row2 .h4{
        color: white;
        font-family: 'Poppins',sans-serif;
        text-transform: lowercase;
    }
    .row2 h4 i{
        color: orange;
        margin-left: 5px;
        margin-right: 5px;
    }
    .row2 a{
        color: white;
        text-decoration: none;
        margin-left: 5px;
        padding-left: 5px;
        padding-right: 10px;
        margin-top: 0px;
    }
    .row2 a:hover{
        color: orange;
    }
    .row1 a{
     color: orange;
     margin-top: -20px;
     margin-left: -30px;
     margin-right: 100px;
     margin-bottom: 50px;
     font-size: 18px;
    }
    .row1 a:hover{
        color: #fff;
    }
    .row4{
        margin-left: 10%;
        color: #bbb;
        font-family: 'Poppins',sans-serif;
        font-size: 15px;
        margin-top: 10px;
    }
    .phone{
        color: orange;
        margin-right: 10px;
    }
}
@media(max-width:1300px){
    .footer{
        margin-top: 100vh;
        background-color: #24262b;
        width: 100%;
        height: 30vh;
    }
    .row2{
        font-size: 20px;
        margin-left: 25%;
        display: flex;
        margin-bottom: 20px;
    }
    .row2 h4,.row3 h4{
        font-size: 20px;
        margin-left: 5px;
        color:  #bbb;
        font-weight: 100;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Poppins',sans-serif;
    }
    .row2 .h4{
        color: white;
        font-family: 'Poppins',sans-serif;
        text-transform: lowercase;
    }
    .row2 h4 i{
        color: orange;
        margin-left: 5px;
        margin-right: 5px;
    }
    .row2 a{
        color: white;
        text-decoration: none;
        margin-left: 5px;
        padding-left: 5px;
        padding-right: 10px;
        margin-top: 0px;
    }
    .row2 a:hover{
        color: orange;
    }
    .row1 a{
     color: orange;
     margin-top: -20px;
     margin-left: -30px;
     margin-right: 100px;
     margin-bottom: 50px;
     font-size: 14px;
    }
    .row1 a:hover{
        color: #fff;
    }
    .row4{
        margin-left: 6%;
        color: #bbb;
        font-family: 'Poppins',sans-serif;
        font-size: 14px;
        margin-top: 20px;
    }
    .phone{
        color: orange;
        margin-right: 10px;
    }
}
@media(max-width:1100px){
    .row3{
        margin-left: 70px;
    }
    .row4{
        margin-left: 125px;
        font-size: 12px;
    }
}
@media (max-width: 800px){
    .footer{
        background-color: #24262b;
        width: 100%;
        height: 30vh;
    }
    .row1{
        font-size: 8px;
        margin-left: 35%;
        display: flex;
    }
    .row2{
        font-size: 16px;
        margin-left: 100px;
        display: flex;
        margin-bottom: 10px;
    }
    .row3{
        margin-left: 0px;
    }
    .row2 h4,.row3 h4{
        font-size: 16px;
        margin-left: 5px;
        color:  #bbb;
        font-weight: 100;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Poppins',sans-serif;
    }
    .row2 .h4{
        color: white;
        font-family: 'Poppins',sans-serif;
        text-transform: lowercase;
    }
    .row2 h4 i{
        color: orange;
        margin-left: 5px;
        margin-right: 5px;
    }
    .row2 a{
        color: white;
        text-decoration: none;
        margin-left: 5px;
        padding-left: 5px;
        padding-right: 10px;
        margin-top: 0px;
    }
    .row2 a:hover{
        color: orange;
    }
    .row1 a{
     color: orange;
     margin-top: -20px;
     margin-left: -15px;
     margin-right: 100px;
     margin-bottom: 50px;
     font-size: 18px;
    }
    .row1 a:hover{
        color: #fff;
    }
    .row4{
        margin-left: 1%;
        color: #bbb;
        font-family: 'Poppins',sans-serif;
        font-size: 13px;
        margin-top: 10px;
        text-align: center;
    }
    .phone{
        color: orange;
        margin-right: 10px;
    }
}
@media(max-width:650px){
    .row2{
        margin-left: 10px;
        text-align: left;
    }
    .row3{
        margin-left: 0;
        text-align: left;
    }
    .row4{
        margin-left: 10px;
        text-align: left;
    }
}
dropdownmenu code ends here */
