/* navbar */
@media(max-width:768px){

}
@media all and (max-width:480px){
    header{
        height: 25vh;
        width: 100%;
    }
    header .logo img{
        margin-left: -100px;
        margin-right: 100px;
        margin-bottom: 10px;
    }
    .banner{
        width: 100%;
        /* background-size: contain ; */
        background-position: center;
        position: relative;
    }
    .banner h1{
        padding-top: 10px;
    }
    .banner h3{
        font-size: 11px;
    }
    .hero-btn{
        margin-left: -50px;
        padding: 10px 30px;
    }
    .about{
        text-align: left;
    }
    .about-img .logo2{
        margin-left: 50px;
        height: 100px;
        width: 100px;
    }
    .about-img .logo3{
        height: 100px;
        width: 100px;
    }
    .about p{
        text-align-last: left;
        font-size: 16px;
    }
    .content-section .title{
        font-size: 20px;
    }
    .content-section .content h3{
        font-size: 16px;
    }
    .nav-link{
        font-size: 20px;
    }
    .nav-menu.active{
        left: -90px;
    }
    .whyus2 img{
        width: 100%;
    }
    .whyus2 h1{
        font-size: 20px;
    }
    .section2 .container p{
        font-size: 14px;
    }
    .section2 .container{
        margin-bottom: 10px;
    }
    .content-section .title{
        font-size: 14px;
    }
    .content-section .content h3{
        font-size: 16px;
    }
    .section{
        margin-bottom: -100px;
    }
    .section2{
        margin-top: 200px;
        margin-bottom: -400px;
    }
    .section2 .container{
        font-size: 30px;
    }
    .services a{
        width: 100%;
        font-size: 14px;
        padding: 10px;
    }
    .services p{
        margin-top: 5px;
    }
    .footer{
        display: none;
    }
    .footer2{
        display: block;
        background-color: black;
        height: 40vh;
    }
    .footer2 .row1{
        font-size: 16px;
        margin-left: 39%;
        display: flex;
    }
    .footer2 .row2{
        font-size: 8px;
        margin-left: 10px;
        display: flex;
        margin-bottom: 10px;
    }
    .footer2 .row2 h4,.footer2 .row3 h4{
        font-size: 10px;
        margin-left: 0px;
        color:  #bbb;
        font-weight: 100;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Poppins',sans-serif;
    }
    .footer2 .row3 h4{
        font-size: 8px;
    }
    .footer2 .row2 .h4{
        color: white;
        font-family: 'Poppins',sans-serif;
        text-transform: lowercase;
    }
    .footer2 .row2 h4 i{
        color: orange;
        margin-left: 5px;
        margin-right: 5px;
    }
    .footer2 .row2 a{
        color: white;
        text-decoration: none;
        margin-left: 5px;
        padding-left: 5px;
        padding-right: 10px;
        margin-top: 0px;
    }
    .footer2 .row2 a:hover{
        color: orange;
    }
    .footer2 .row1 a{
     color: orange;
     margin-top: -20px;
     margin-left: -30px;
     margin-right: 100px;
     margin-bottom: 50px;
     font-size: 18px;
    }
    .footer2 .row1 a:hover{
        color: #fff;
    }
    .footer2 .row4 h4{
        margin-left: 2%;
        color: #bbb;
        font-family: 'Poppins',sans-serif;
        font-size: 14px;
        margin-top: 10px;
    }
    .footer2 .phone{
        color: orange;
        margin-right: 10px;
    }
}
@media(max-width:375px){
    header .logo img{
        margin-left: -8rem;
        margin-right: 80px;
        margin-bottom: 10px;
    }
    .nav-menu{
        text-align: left;
    }
}

/*banner*/
@media(max-width:768px){
    .banner{
        width: 100%;
        height: 70vh;
        background: cover;
    }
    .banner h1{
        font-size: 40px;
        margin-top: -100px;
        margin-bottom: 5px;
    }
    .banner h3{
        padding-top: 15px;
    }
    .hero-btn{
        margin-left: 270px;
    }
}

@media(max-width:375px){
    .banner{
        width: 100%;
        height: 60vh;
    }
    .banner h1{
        font-size:30px ;
        margin-top: 10px;
    }
    .banner h3{
        padding-top: 10px;
    }
}

/* about */
@media(max-width:768px){
    .about{
        font-weight: 400;
        margin-top: 50px;
        margin-left: -10px;
    }
    .about p{
        margin-top: 20px;
        margin-left: 50px;
        text-align: left;
        justify-content: left;
    }
    .about .about-img{
        margin-left: 150px;
        margin-right: -100px;
    }
    .whyus{
        display: none;
    }
    .whyus2{
        display: block;
    }
    .whyus2 img{
        width: 100%;
        margin-top: 100px;
        margin-bottom: -100px;
        height: 20vh;
    }
    .whyus2 h1{
        margin-top: -10px;
        margin-left: 10px;
        margin-bottom: -100px;
        font-size: 30px;
        font-family: 'Poppins',sans-serif;
        text-transform: uppercase;
        color: #fff;
        font-weight: 800;
    }
}

@media(max-width:375px){
    .about{
        margin-top: 30px;
    }
    .about .about-img{
        margin-left: 10px;
    }
    .about p{
        font-size: 20px;
        text-align: center;
    }
}


/* section */
@media(max-width:768px){
    .content-setion title{
        text-align: left;
    }
    .image-section img{
        margin-bottom: 50px;
    }
}
@media(max-width:425px){

}
@media(max-width:375px){

}

/* whyus */
@media(max-width:768px){
    .whyus h1{
        font-size: 50px;
        margin-left: 50px;
        padding-top: 40px;
    }
}
@media(max-width:425px){

}
@media(max-width:375px){

}

/* section2 */
@media(max-width:768px){
   .section2 .container{
    width: 100%;
    height: 10vh;
   }
   .section2 .empty{
        width: 80%;
        margin-left: 10%;
        margin-top: 5px;
   }
}
@media(max-width:425px){

}
@media(max-width:375px){

}

/* services */
@media(max-width:768px){
    .services{
        flex-direction: column;
    }
}
@media(max-width:425px){

}
@media(max-width:375px){

}

/* footer */
@media(max-width:768px){
    .row1{
        margin-left: 40%;
    }
    .row2{
        font-size: 14px;
        margin-left: 120px;
    }
    .row2 a{
        font-size: 18px;
    }
    .row3{
        font-size: 12px;
    }
    .row4 h4{
        font-size: 11px;
    }
}
@media(max-width:425px){

}
@media(max-width:375px){

}
